.App {
  text-align: center;
}

.grad {
  background-image: linear-gradient(
    to right top,
    #7d78ce,
    #837dc9,
    #8882c3,
    #8d87be,
    #918cb8
  );
  min-width: 100%;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gbg {
  background-color: black;
  min-width: 100%;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(
    to right top,
    #7d78ce,
    #837dc9,
    #8882c3,
    #8d87be,
    #918cb8
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Fact {
  background-image: linear-gradient(
    to right top,
    #7d78ce,
    #837dc9,
    #8882c3,
    #8d87be,
    #918cb8
  );
  min-width: 100%;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bgif {
  display: block;
  background: white no-repeat center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.quotebg {
  display: block;
  background: black no-repeat center;
  min-width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.factbg {
  display: block;
  background: white no-repeat center;
  min-width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.header-centered {
  position: fixed;
  top: 15%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.nearcent {
  position: fixed;
  top: 52%;
  right: 10%;

  transform: translate(-25%, -25%);
}

.barpostop {
  position: fixed;
  top: 30%;
  left: 34%;
  width: 400px;

  transform: translate(-25%, -25%);
}

@media screen and (max-width: 900px) {
  .barpostop {
    position: fixed;
    top: 29%;
    left: 24%;
    width: 280px;
    transform: translate(-25%, -25%);
  }
}

.quotestoppos {
  position: fixed;
  top: 34%;
  left: 30%;
  height: 80px;
  width: 80px;

  transform: translate(-25%, -25%);
}

@media screen and (max-width: 900px) {
  .quotestoppos {
    position: fixed;
    top: 32%;
    left: 18%;
    height: 60px;
    width: 60px;
  }
}

.quotebottompos {
  position: fixed;
  bottom: 30%;
  right: 28%;
  height: 80px;
  width: 80px;

  transform: translate(-25%, -25%);
}

@media screen and (max-width: 900px) {
  .quotebottompos {
    position: fixed;
    bottom: 15%;
    right: 14%;
    height: 60px;
    width: 60px;
    transform: translate(-25%, -25%);
  }
}

.nearcen {
  position: fixed;
  top: 34%;
  left: 30%;

  transform: translate(-25%, -25%);
}

.barposdown {
  position: fixed;
  bottom: 30%;
  right: 22%;
  width: 400px;

  transform: translate(-25%, -25%);
}

@media screen and (max-width: 900px) {
  .barposdown {
    position: fixed;
    bottom: 16%;
    right: 4%;
    width: 280px;
    transform: translate(-25%, -25%);
  }
}
.arrowpos {
  position: absolute;
  bottom: 10%;
  right: 20%;

  transform: translate(-25%, -25%);
}

@media screen and (max-width: 900px) {
  .arrowpos {
    position: absolute;
    bottom: 5%;
    right: 10%;

    transform: translate(-25%, -25%);
  }
}

.factbg {
  display: block;
  background: white no-repeat center;
  min-width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.factcen {
  position: fixed;
  top: 45%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.blackbarpos {
  position: fixed;
  bottom: 28%;
  right: 33%;
  width: 576px;
}

@media screen and (max-width: 900px) {
  .blackbarpos {
    position: fixed;
    bottom: 28%;
    right: 27%;
    width: 350px;
  }
}

.blackbarpos1 {
  position: fixed;
  bottom: 30%;
  right: 35%;
  width: 450px;
}

@media screen and (max-width: 900px) {
  .blackbarpos1 {
    position: fixed;
    bottom: 15%;
    right: 26%;
    width: 350px;
  }
}

.signpos {
  position: fixed;
  top: -38%;
  right: 45%;
}

@media screen and (max-width: 900px) {
  .signpos {
    position: fixed;
    top: -15%;
    right: 45%;
  }
}

.MainContainer {
  display: flex;
  max-width: max-content;
  max-height: max-content;
  justify-content: space-between;
  @media (max-width: 480px) {
    padding: 40px 50px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
