.App {
  text-align: center;
}

.grad {
  background-image: linear-gradient(
    to top,
    #befcfd,
    #b4fdf7,
    #acfeef,
    #a8ffe5,
    #a8ffd8
  );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(
    to right top,
    #7d78ce,
    #837dc9,
    #8882c3,
    #8d87be,
    #918cb8
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
